/* Display play icon in run column by default */
td:nth-child(5) > a { 
	background:transparent url('images/play32.png') center top no-repeat;
    height: 32px;
    width: 32px;
    display: block;
}

/* Display question mark in results column by default */
td:nth-child(6) > span {
    background:transparent url('images/question32.png') center top no-repeat;
    height:32px;
    width:32px;
    display: block;
}

/* Grey out play icon when row class is disabled */
tr.disabled > td:nth-child(5) > a {
	background:transparent url('images/playdisabled32.png') center top no-repeat;
    height: 32px;
    width: 32px;
    display: block;
}

/* Display disabled icon in status column when row class is disabled */
tr.disabled > td:nth-child(6) > span {
    background:transparent url('images/disabled32.png') center top no-repeat;
    height:32px;
    width:32px;
    display: block;
}

/* Update loading icon in Run column : animated gif */
tr.running > td:nth-child(5) > a {
	background:transparent url('images/loader32.gif') center top no-repeat;
    height: 32px;
    width: 32px;
    display: block;
}

/* Display tick in results column when test passes */
tr.passed > td:nth-child(6) > span {
	background:transparent url('images/tick32.png') center top no-repeat;
	height:32px;
    width:32px;
    display: block;
}

/* Display cross in results column when test fails */
tr.failed > td:nth-child(6) > span {
	background:transparent url('images/cross32.png') center top no-repeat;
	height:32px;
    width:32px;
    display: block;
}


/* Background colour styling for rows */
tr > td {
	background-color: white;
}
tr.disabled > td {
	background-color: rgb(240,240,240);
}
tr.passed > td {
	background-color: rgb(200,255,200);
}
tr.failed > td {
	background-color: red;
}

